/* Variables */
:root {
    --primary-color: #0056b3;
    --secondary-color: #6c757d;
    --background-color: #f8f9fa;
    --text-color: #343a40;
    --accent-color: #ffc107;
    --font-family: 'Roboto', sans-serif;
    --font-size-base: 16px;
    --transition-speed: 0.4s;
}

/* Global Styles */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* General Styles */
body, html {
    font-family: var(--font-family);
    padding-top: 70px;
    margin: 0;
    background-color: #EEEEEE; 
    color: #333;
    line-height: 1.6;
    scroll-behavior: smooth;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color); 
    font-weight: 700;
    text-transform: uppercase; 
    margin-bottom: 0.5em; 
}

/* Paragraphs */
p {
    color: #666;
    font-size: 1.1em; 
    margin-bottom: 1em; 
}

/* Navbar */
.navbar {
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
    padding: 0.8rem 2rem;
    transition: background-color var(--transition-speed), box-shadow var(--transition-speed);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5em;
    color: var(--primary-color); 
    text-decoration: none;
}

.navbar-brand img {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    font-size: 1.1em;
    font-weight: bold;
    transition: color var(--transition-speed);
    color: var(--primary-color);
    margin: 0 10px;
    text-decoration: none;
}

.nav-link:hover, .nav-link:focus {
    color: var(--primary-color);
    text-decoration: underline; 
}

.nav-link:hover, .nav-link.active {
    color: #003d82;
}

.navbar.active-nav {
    background-color: var(--primary-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* About Section */
#about {
    text-align: center;
    padding: 20px;
    margin-top: -20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-img {
    width: 200px;
    height: auto;
    border: 5px solid var(--primary-color);
    display: block;
    margin: auto;
    transition: transform var(--transition-speed), box-shadow var(--transition-speed);
}

.profile-img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.social-links .btn-link {
    transition: transform var(--transition-speed);
}

.social-links .btn-link:hover {
    transform: scale(1.2);
}

.social-icon {
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

h1 {
    color: var(--primary-color);
    font-size: 2.5rem;
}

#about p {
    font-size: 1.1rem;
    max-width: 1250px;
    margin: 20px auto; /* Center and add spacing */
}

/* Section Spacing */
section {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Skills Section */
#skills .progress {
    height: 30px; /* Increased height */
    background-color: #e9ecef;
    border-radius: 15px; /* Increased border radius */
    overflow: hidden;
}

.progress-bar {
    background-image: linear-gradient(50deg, #007bff, #6610f2);
    transition: width 0.5s ease;
    border-radius: 15px; /* Increased border radius */
    background-color: var(--primary-color);
    transition: width 0.6s ease;
}

.progress-bar span {
    display: block;
    padding: 5px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.progress-bar:hover {
    width: calc(var(--bs-progress-width) + 10%);
}

/* Experience Section */
#experience .card {
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform var(--transition-speed);
}

#experience .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 8px var(--font-size-base) rgba(0, 0, 0, 0.2);
}

.experience-logo {
    width: 250px;
    height: auto;
    margin-right: 15px;
    border-radius: 10px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.card-text {
    font-size: 2rem;
    color: #333;
}

.card-text strong {
    display: block;
    margin-bottom: 1px;
    color: #666;
}

/* Card Styles */
#skills .card,
#projects .card,
#certificates .card,
#experience .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform var(--transition-speed);
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-15px);
    box-shadow: 0 8px var(--font-size-base) rgba(0, 0, 0, 0.1);
}

.card-img-top {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card-footer {
    background: inherit;
    border-top: 0;
    text-align: center;
}

/* Cards */
.card {
    border: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-weight: bold;
    color: var(--primary-color);
}

/* Education Section */
#education {
    text-align: left;
    padding: 40px 20px;
}

#education .card {
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform var(--transition-speed);
}

#education .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 8px var(--font-size-base) rgba(0, 0, 0, 0.2);
}

.edu-logo {
    width: 180px;
    height: auto;
    margin-right: 15px;
    border-radius: 10px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.card-text {
    font-size: 1rem;
    color: #333;
}

.card-text strong {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.card-text small {
    color: #999;
}

@media (max-width: 768px) {
    #education .edu-logo {
        width: 120px;
    }

    #education .card-title {
        font-size: 1.2rem;
    }

    #education .card-text {
        font-size: 0.9rem;
    }
}

/* Certificates, Resume, Contact Sections */
#certificates, #resume, #contact, #education, #projects, #skills {
    text-align: center;
    padding: 40px 20px;
}

#contact {
    padding: 40px 0;
    background-color: #EEEEEE;
    text-align: center;
}

#contact ul {
    padding: 0;
    list-style-type: none;
}

#contact li {
    margin: 10px 0;
    font-size: 1.2rem;
    color: #333;
}

#contact a {
    color: #007bff;
    transition: color var(--transition-speed);
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #EEEEEE;
    color: #666;
    padding: 20px 0;
    border-top: 1px solid #EEEEEE;
    text-align: center; 
}

footer a {
    color: #007bff;
    transition: color var(--transition-speed);
    text-decoration: none;
    background-color: var(--background-color);
    padding: 1rem 0;
}

footer a:hover {
    text-decoration: underline;
}

footer p a {
    color: var(--primary-color);
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}

/* Media Queries */
@media (max-width: 992px) {
    .navbar {
        background-color: #fff;
    }

    .navbar-collapse {
        text-align: center;
    }

    .nav-item {
        display: block;
        margin-bottom: 10px;
    }
    .nav-link {
        font-size: 1.2em;
    }
}

@media (max-width: 576px) {
    body, html {
        padding-top: 60px;
    }

    .navbar {
        padding: 0.8rem 1rem;
    }

    .navbar-brand img {
        height: 30px;
    }

    .navbar-nav {
        flex-direction: column;
    }

    .nav-link {
        margin: 5px 0;
    }

    .profile-img {
        width: 120px;
    }

    .list-group-item {
        padding: 10px;
    }

    .list-group-item h5 {
        font-size: 1rem;
    }

    .list-group-item strong {
        font-size: 0.9rem;
    }

    .list-group-item small {
        font-size: 0.8rem;
    }

    .card-img-top {
        height: 150px;
    }

    #education h1 {
        font-size: 1.5rem;
    }

    .edu-logo {
        width: 70px;
    }

    #contact li {
        font-size: 1rem;
    }
}
